/__pycache__/ga_node.cpython-35.pyc
/__pycache__/read_element.cpython-35.pyc
/__pycache__/collection_helpers.cpython-35.pyc
/__pycache__/command_line.cpython-35.pyc
/__pycache__/read_input.cpython-35.pyc
/__pycache__/ea_node.cpython-35.pyc
/__pycache__/ea_node_operators.cpython-35.pyc
/__pycache__/ga_node_operators.cpython-35.pyc
/__pycache__/dollo_node.cpython-35.pyc
/__pycache__/dollo_node_operators.cpython-35.pyc
/__pycache__/dollo_node_crossover_operators.cpython-35.pyc
/__pycache__/dollo_node_evaluation_operators.cpython-35.pyc
/__pycache__/dollo_node_helpers.cpython-35.pyc
/__pycache__/dollo_node_initialization_operators.cpython-35.pyc
/__pycache__/dollo_node_mutation_operators.cpython-35.pyc
/__pycache__/dollo_node_evaluation_likelihood.cpython-35.pyc
prog/logs/run_2023_02_07_11_53_38.log
prog/logs/run_2023_02_07_11_54_19.log
prog/logs/run_2023_02_07_11_55_18.log
prog/src/utils/__pycache__/logger.cpython-310.pyc
*.log
prog/src/dollo_node/__pycache__/dollo_node.cpython-310.pyc
*.pyc
*.pyc
prog/src/genetic_programming_dollo/__pycache__/dollo_node_helpers.cpython-310.pyc
